body {
  background-color: #dbdd92;
}

#pic-1 {
  position: relative;
  width: 28.5%;
  left: 2%;
}

#pic-2 {
  position: relative;
  width: 31.5%;
  left: 7%;
}

#pic-3 {
  position: relative;
  width: 25.4%;
  left: 12%;
}

ul {
  text-align: left;
  list-style-position: outside;
  font-size: 24px;
  margin-left: 20%;
  margin-right: 20%;
  white-space: wrap;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Verdana, sans-serif;
  line-height: 30px;
  margin-bottom: 5%;
}

li {
  padding-top: 30px;
}

h2 {
  text-align: right;
  font-size: 200%;
  margin-right: 5.5%;
}

#gif {
  position: relative;
  max-width: 5%;
  left: 92%;
}

#home {
  max-width: 5%;
  left: 81%;
  position: relative;
}
