body {
  background-color: #dbdd92;
}

#pic-1 {
  max-height: 360px;
  margin-right: 100px;
  margin-left: 35px;
}

#pic-2 {
  max-height: 360px;
  margin-right: 100px;
}

#pic-3 {
  max-height: 360px;
}

ul {
  text-align: left;
  list-style-position: outside;
  font-size: 24px;
  margin-left: 20%;
  margin-right: 20%;
  white-space: wrap;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
  line-height: 30px;
}

li {
  padding-top: 30px;
}

h2 {
  text-align: right;
  font-size: xx-large;
  margin-right: 100px;
}

#home {
  position: relative;
  right: 0px;
  max-width: 5%;
  left: 92%;
}

#gif {
  max-width: 5%;
  left: 81%;
  position: relative;
}
