body {
  background-color: #92b9dd;
}

#gif {
  position: sticky;
  left: 36%;
  margin-top: 5%;
  width: 30%;
}

h2 {
  text-align: right;
  font-size: xx-large;
  margin-right: 5.5%;
}

#home {
  position: relative;
  max-width: 5%;
  left: 92%;
}

#facts {
  max-width: 5%;
  left: 81%;
  position: relative;
}
