body {
  background-color: #92b9dd;
}

#gif {
  position: sticky;
  left: 36%;
  margin-top: 5%;
  width: 30%;
}

h2 {
  text-align: left;
  font-size: xx-large;
  margin-left: 87%;
  margin-right: 5.5%;
}

#home {
  position: sticky;
  width: 5%;
  margin-left: 84%;
}

#facts {
  width: 5%;
  margin-left: 1.5%;
  position: sticky;
}
